*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 410px;
}
input{
    width: 200px;
    height: 30px;
}
select{
    width: 200px;
    height: 30px;
}
.direction{
    display: flex;
    flex-direction: column;
}
.middle{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 410px;
    height: 100px;
}
.paiement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}
button{
    padding: 0.2rem;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
form{
    background-color: #1d66c588;
    width: 500px;
    padding: 2rem;
    border-radius: 20px;
}
hr{
    opacity: 0.3;
}